/* src/pages/Cart.css */
.cart-container {
    padding: 20px;
    background-color: #1F1F1F; /* Koyu arka plan */
    color: #E0E0E0; /* Açık yazı rengi */
    text-align: center; /* Ortalı metin */
  }
  
  button {
    background-color: #FFD700; /* Altın rengi */
    color: #121212; /* Koyu metin */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #FFC107; /* Hoverda daha açık altın rengi */
  }
  